In [1]:
import pandas as pd
import numpy as np

In [3]:
df_indygo = pd.read_csv('final_data.csv',nrows=0)

In [5]:
df_indygo = pd.read_csv('final_data.csv')

In [6]:
numeric_variables = df_indygo.copy().select_dtypes(include=np.number)
numeric_variables.head(10)

,Unnamed: 0,DateKey,BlockKey,RouteKey,DepartStopKey,ArriveStopKey,TripKey,UserKey,VehicleKey,TripSequence,...,ArriveOnboard,DepartBoards,DepartAlights,DepartOnboard,DepartTimeVarianceSecs,ArriveTimeVarianceSecs,EndTimeVarianceSecs,TotalTimeScheduleSecs,TotalTimeActualSecs,TotalTimeVarianceSecs
0,0,9313,1369,2001,1700,5559,180233,1071,2900,70,...,0.0,0.0,0.0,0.0,-112.0,-119.0,-119.0,74,67.0,-7.0
1,1,9313,1545,2007,2974,16278,180058,2537,3243,20,...,0.0,0.0,0.0,0.0,94.0,82.0,82.0,21,9.0,-12.0
2,2,9313,1404,1995,5063,5064,181608,1476,3256,23,...,6.0,0.0,1.0,6.0,321.0,322.0,322.0,22,23.0,1.0
3,3,9313,1404,1995,5064,5066,181608,1476,3256,24,...,5.0,0.0,0.0,6.0,322.0,340.0,364.0,44,86.0,42.0
4,4,9313,1404,1995,5066,5068,181608,1476,3256,25,...,5.0,0.0,1.0,5.0,364.0,353.0,353.0,44,33.0,-11.0
5,5,9313,1404,1995,5068,5069,181608,1476,3256,26,...,5.0,0.0,0.0,5.0,353.0,347.0,347.0,17,11.0,-6.0
6,6,9313,1404,1995,5069,5070,181608,1476,3256,27,...,5.0,0.0,0.0,5.0,347.0,341.0,341.0,18,12.0,-6.0
7,7,9313,1404,1995,5070,5071,181608,1476,3256,28,...,5.0,0.0,0.0,5.0,341.0,327.0,327.0,37,23.0,-14.0
8,8,9313,1404,1995,5071,5073,181608,1476,3256,29,...,5.0,0.0,0.0,5.0,327.0,315.0,315.0,44,32.0,-12.0
9,9,9313,1404,1995,5073,18054,181608,1476,3256,30,...,5.0,0.0,0.0,5.0,315.0,311.0,311.0,37,33.0,-4.0

In [7]:
numeric_variables.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20618440 entries, 0 to 20618439
Data columns (total 22 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Unnamed: 0              int64
 1   DateKey                 int64
 2   BlockKey                int64
 3   RouteKey                int64
 4   DepartStopKey           int64
 5   ArriveStopKey           int64
 6   TripKey                 int64
 7   UserKey                 int64
 8   VehicleKey              int64
 9   TripSequence            int64
 10  ArriveBoards            float64
 11  ArriveAlights           float64
 12  ArriveOnboard           float64
 13  DepartBoards            float64
 14  DepartAlights           float64
 15  DepartOnboard           float64
 16  DepartTimeVarianceSecs  float64
 17  ArriveTimeVarianceSecs  float64
 18  EndTimeVarianceSecs     float64
 19  TotalTimeScheduleSecs   int64
 20  TotalTimeActualSecs     float64
 21  TotalTimeVarianceSecs   float64
dtypes: float64(11), int64(11)
memory usage: 3.4 GB

In [8]:
numeric_variables.isna().sum()

Unnamed: 0                      0
DateKey                         0
BlockKey                        0
RouteKey                        0
DepartStopKey                   0
ArriveStopKey                   0
TripKey                         0
UserKey                         0
VehicleKey                      0
TripSequence                    0
ArriveBoards              1104746
ArriveAlights             1104746
ArriveOnboard             1104746
DepartBoards              1104094
DepartAlights             1104094
DepartOnboard              900908
DepartTimeVarianceSecs    1104094
ArriveTimeVarianceSecs    1104094
EndTimeVarianceSecs       1104094
TotalTimeScheduleSecs           0
TotalTimeActualSecs       1104094
TotalTimeVarianceSecs     1104094
dtype: int64

In [9]:
numeric_variables.count()

Unnamed: 0                20618440
DateKey                   20618440
BlockKey                  20618440
RouteKey                  20618440
DepartStopKey             20618440
ArriveStopKey             20618440
TripKey                   20618440
UserKey                   20618440
VehicleKey                20618440
TripSequence              20618440
ArriveBoards              19513694
ArriveAlights             19513694
ArriveOnboard             19513694
DepartBoards              19514346
DepartAlights             19514346
DepartOnboard             19717532
DepartTimeVarianceSecs    19514346
ArriveTimeVarianceSecs    19514346
EndTimeVarianceSecs       19514346
TotalTimeScheduleSecs     20618440
TotalTimeActualSecs       19514346
TotalTimeVarianceSecs     19514346
dtype: int64

In [10]:
df_indygo_dropped = df_indygo.copy().dropna(subset=[
    'ArriveOnboard',
    'DepartBoards',
    'DepartAlights',
    'DepartOnboard',
    'DepartTimeVarianceSecs',
    'ArriveTimeVarianceSecs',
    'EndTimeVarianceSecs',
    'TotalTimeActualSecs',
    'TotalTimeVarianceSecs'
], axis=0)

In [11]:
numeric_variables = df_indygo_dropped.copy().select_dtypes(include=np.number)
numeric_variables.isna().sum()

Unnamed: 0                0
DateKey                   0
BlockKey                  0
RouteKey                  0
DepartStopKey             0
ArriveStopKey             0
TripKey                   0
UserKey                   0
VehicleKey                0
TripSequence              0
ArriveBoards              0
ArriveAlights             0
ArriveOnboard             0
DepartBoards              0
DepartAlights             0
DepartOnboard             0
DepartTimeVarianceSecs    0
ArriveTimeVarianceSecs    0
EndTimeVarianceSecs       0
TotalTimeScheduleSecs     0
TotalTimeActualSecs       0
TotalTimeVarianceSecs     0
dtype: int64

In [12]:
df_indygo_dropped['ArriveBoards'] = df_indygo_dropped['ArriveBoards'].astype(int)
df_indygo_dropped['ArriveAlights'] = df_indygo_dropped['ArriveAlights'].astype(int)

df_indygo_dropped['ArriveOnboard'] = df_indygo_dropped['ArriveOnboard'].astype(int)
df_indygo_dropped['DepartBoards'] = df_indygo_dropped['DepartBoards'].astype(int)
df_indygo_dropped['DepartAlights'] = df_indygo_dropped['DepartAlights'].astype(int)
df_indygo_dropped['DepartOnboard'] = df_indygo_dropped['DepartOnboard'].astype(int)
df_indygo_dropped['DepartTimeVarianceSecs'] = df_indygo_dropped['DepartTimeVarianceSecs'].astype(int)
df_indygo_dropped['ArriveTimeVarianceSecs'] = df_indygo_dropped['ArriveTimeVarianceSecs'].astype(int)
df_indygo_dropped['EndTimeVarianceSecs'] = df_indygo_dropped['EndTimeVarianceSecs'].astype(int)
df_indygo_dropped['TotalTimeActualSecs'] = df_indygo_dropped['TotalTimeActualSecs'].astype(int)
df_indygo_dropped['TotalTimeVarianceSecs'] = df_indygo_dropped['TotalTimeVarianceSecs'].astype(int)

In [13]:
df_indygo_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19513694 entries, 0 to 20618439
Data columns (total 34 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0                int64
 1   DateKey                   int64
 2   BlockKey                  int64
 3   RouteKey                  int64
 4   DepartStopKey             int64
 5   ArriveStopKey             int64
 6   TripKey                   int64
 7   UserKey                   int64
 8   VehicleKey                int64
 9   TripSequence              int64
 10  ArriveBoards              int64
 11  ArriveAlights             int64
 12  ArriveOnboard             int64
 13  DepartBoards              int64
 14  DepartAlights             int64
 15  DepartOnboard             int64
 16  DepartTimeSchedule        object
 17  DepartTimeActual          object
 18  DepartTimeVarianceSecs    int64
 19  ArriveTimeSchedule        object
 20  ArriveTimeActual          object
 21  ArriveTimeVarianceSecs    int64
 22  EndTimeSchedule           object
 23  EndTimeActual             object
 24  EndTimeVarianceSecs       int64
 25  TotalTimeScheduleSecs     int64
 26  TotalTimeActualSecs       int64
 27  TotalTimeVarianceSecs     int64
 28  CalendarDate              object
 29  DayOfWeekName             object
 30  WorkdayType               object
 31  RouteInternetName         object
 32  RouteDepartInternetName   object
 33  RouteArrivalInternetName  object
dtypes: int64(22), object(12)
memory usage: 5.1+ GB

In [14]:
df_indygo_dropped[['DepartTimeSchedule','DepartTimeActual','ArriveTimeSchedule','ArriveTimeActual','EndTimeSchedule','EndTimeActual','CalendarDate']].head(10)

,DepartTimeSchedule,DepartTimeActual,ArriveTimeSchedule,ArriveTimeActual,EndTimeSchedule,EndTimeActual,CalendarDate
0,2023-10-07 00:10:08.000,2023-10-07 00:08:16.000,2023-10-07 00:11:22.000,2023-10-07 00:09:23.000,2023-10-07 00:11:22.000,2023-10-07 00:09:23.000,2023-10-06 00:00:00.000
1,2023-10-07 00:28:41.000,2023-10-07 00:30:15.000,2023-10-07 00:29:02.000,2023-10-07 00:30:24.000,2023-10-07 00:29:02.000,2023-10-07 00:30:24.000,2023-10-06 00:00:00.000
2,2023-10-07 00:05:54.000,2023-10-07 00:11:15.000,2023-10-07 00:06:16.000,2023-10-07 00:11:38.000,2023-10-07 00:06:16.000,2023-10-07 00:11:38.000,2023-10-06 00:00:00.000
3,2023-10-07 00:06:16.000,2023-10-07 00:11:38.000,2023-10-07 00:07:00.000,2023-10-07 00:12:40.000,2023-10-07 00:07:00.000,2023-10-07 00:13:04.000,2023-10-06 00:00:00.000
4,2023-10-07 00:07:00.000,2023-10-07 00:13:04.000,2023-10-07 00:07:44.000,2023-10-07 00:13:37.000,2023-10-07 00:07:44.000,2023-10-07 00:13:37.000,2023-10-06 00:00:00.000
5,2023-10-07 00:07:44.000,2023-10-07 00:13:37.000,2023-10-07 00:08:01.000,2023-10-07 00:13:48.000,2023-10-07 00:08:01.000,2023-10-07 00:13:48.000,2023-10-06 00:00:00.000
6,2023-10-07 00:08:01.000,2023-10-07 00:13:48.000,2023-10-07 00:08:19.000,2023-10-07 00:14:00.000,2023-10-07 00:08:19.000,2023-10-07 00:14:00.000,2023-10-06 00:00:00.000
7,2023-10-07 00:08:19.000,2023-10-07 00:14:00.000,2023-10-07 00:08:56.000,2023-10-07 00:14:23.000,2023-10-07 00:08:56.000,2023-10-07 00:14:23.000,2023-10-06 00:00:00.000
8,2023-10-07 00:08:56.000,2023-10-07 00:14:23.000,2023-10-07 00:09:40.000,2023-10-07 00:14:55.000,2023-10-07 00:09:40.000,2023-10-07 00:14:55.000,2023-10-06 00:00:00.000
9,2023-10-07 00:09:40.000,2023-10-07 00:14:55.000,2023-10-07 00:10:17.000,2023-10-07 00:15:28.000,2023-10-07 00:10:17.000,2023-10-07 00:15:28.000,2023-10-06 00:00:00.000

In [15]:
columns_to_convert = [
    'DepartTimeSchedule', 
    'DepartTimeActual', 
    'ArriveTimeSchedule', 
    'ArriveTimeActual', 
    'EndTimeSchedule', 
    'EndTimeActual', 
    'CalendarDate'
]

df_indygo_dropped[columns_to_convert] = df_indygo_dropped[columns_to_convert].apply(pd.to_datetime, errors='coerce')

print(df_indygo_dropped[columns_to_convert].head())

   DepartTimeSchedule    DepartTimeActual  ArriveTimeSchedule  \
0 2023-10-07 00:10:08 2023-10-07 00:08:16 2023-10-07 00:11:22
1 2023-10-07 00:28:41 2023-10-07 00:30:15 2023-10-07 00:29:02
2 2023-10-07 00:05:54 2023-10-07 00:11:15 2023-10-07 00:06:16
3 2023-10-07 00:06:16 2023-10-07 00:11:38 2023-10-07 00:07:00
4 2023-10-07 00:07:00 2023-10-07 00:13:04 2023-10-07 00:07:44

     ArriveTimeActual     EndTimeSchedule       EndTimeActual CalendarDate
0 2023-10-07 00:09:23 2023-10-07 00:11:22 2023-10-07 00:09:23   2023-10-06
1 2023-10-07 00:30:24 2023-10-07 00:29:02 2023-10-07 00:30:24   2023-10-06
2 2023-10-07 00:11:38 2023-10-07 00:06:16 2023-10-07 00:11:38   2023-10-06
3 2023-10-07 00:12:40 2023-10-07 00:07:00 2023-10-07 00:13:04   2023-10-06
4 2023-10-07 00:13:37 2023-10-07 00:07:44 2023-10-07 00:13:37   2023-10-06

In [16]:
df_indygo_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19513694 entries, 0 to 20618439
Data columns (total 34 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0                int64
 1   DateKey                   int64
 2   BlockKey                  int64
 3   RouteKey                  int64
 4   DepartStopKey             int64
 5   ArriveStopKey             int64
 6   TripKey                   int64
 7   UserKey                   int64
 8   VehicleKey                int64
 9   TripSequence              int64
 10  ArriveBoards              int64
 11  ArriveAlights             int64
 12  ArriveOnboard             int64
 13  DepartBoards              int64
 14  DepartAlights             int64
 15  DepartOnboard             int64
 16  DepartTimeSchedule        datetime64[ns]
 17  DepartTimeActual          datetime64[ns]
 18  DepartTimeVarianceSecs    int64
 19  ArriveTimeSchedule        datetime64[ns]
 20  ArriveTimeActual          datetime64[ns]
 21  ArriveTimeVarianceSecs    int64
 22  EndTimeSchedule           datetime64[ns]
 23  EndTimeActual             datetime64[ns]
 24  EndTimeVarianceSecs       int64
 25  TotalTimeScheduleSecs     int64
 26  TotalTimeActualSecs       int64
 27  TotalTimeVarianceSecs     int64
 28  CalendarDate              datetime64[ns]
 29  DayOfWeekName             object
 30  WorkdayType               object
 31  RouteInternetName         object
 32  RouteDepartInternetName   object
 33  RouteArrivalInternetName  object
dtypes: datetime64[ns](7), int64(22), object(5)
memory usage: 5.1+ GB

In [17]:
df_indygo_dropped['CalendarDate'].min()

Timestamp('2023-10-06 00:00:00')

In [18]:
df_indygo_dropped['CalendarDate'].max()

Timestamp('2024-06-08 00:00:00')

In [19]:
df_indygo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20618440 entries, 0 to 20618439
Data columns (total 34 columns):
 #   Column                    Dtype
---  ------                    -----
 0   Unnamed: 0                int64
 1   DateKey                   int64
 2   BlockKey                  int64
 3   RouteKey                  int64
 4   DepartStopKey             int64
 5   ArriveStopKey             int64
 6   TripKey                   int64
 7   UserKey                   int64
 8   VehicleKey                int64
 9   TripSequence              int64
 10  ArriveBoards              float64
 11  ArriveAlights             float64
 12  ArriveOnboard             float64
 13  DepartBoards              float64
 14  DepartAlights             float64
 15  DepartOnboard             float64
 16  DepartTimeSchedule        object
 17  DepartTimeActual          object
 18  DepartTimeVarianceSecs    float64
 19  ArriveTimeSchedule        object
 20  ArriveTimeActual          object
 21  ArriveTimeVarianceSecs    float64
 22  EndTimeSchedule           object
 23  EndTimeActual             object
 24  EndTimeVarianceSecs       float64
 25  TotalTimeScheduleSecs     int64
 26  TotalTimeActualSecs       float64
 27  TotalTimeVarianceSecs     float64
 28  CalendarDate              object
 29  DayOfWeekName             object
 30  WorkdayType               object
 31  RouteInternetName         object
 32  RouteDepartInternetName   object
 33  RouteArrivalInternetName  object
dtypes: float64(11), int64(11), object(12)
memory usage: 5.2+ GB

In [21]:
df_indygo_dropped.to_parquet('indygo.parquet',index=False)

In [22]:
df_indygo_dropped.columns

Index(['Unnamed: 0', 'DateKey', 'BlockKey', 'RouteKey', 'DepartStopKey',
       'ArriveStopKey', 'TripKey', 'UserKey', 'VehicleKey', 'TripSequence',
       'ArriveBoards', 'ArriveAlights', 'ArriveOnboard', 'DepartBoards',
       'DepartAlights', 'DepartOnboard', 'DepartTimeSchedule',
       'DepartTimeActual', 'DepartTimeVarianceSecs', 'ArriveTimeSchedule',
       'ArriveTimeActual', 'ArriveTimeVarianceSecs', 'EndTimeSchedule',
       'EndTimeActual', 'EndTimeVarianceSecs', 'TotalTimeScheduleSecs',
       'TotalTimeActualSecs', 'TotalTimeVarianceSecs', 'CalendarDate',
       'DayOfWeekName', 'WorkdayType', 'RouteInternetName',
       'RouteDepartInternetName', 'RouteArrivalInternetName'],
      dtype='object')